Q1.Write a program using list comprehension to find primes 
in range 2 to 100.

In [13]:
for i in range (2, 101):
    count = 0
    for j in range(2, (i//2 + 1)):
        if(i % j == 0):
            count = count + 1
            break
        
    if (count == 0):
                print(i, end = ' ')

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

Q2.Write a function to reverse a string.

In [14]:
def reverse(string):
    return string[::-1]
 
string = "I am learning Python"
print(reverse(string))
str1 = "I am good in Python"
str1[::-1]

nohtyP gninrael ma I

'nohtyP ni doog ma I'

Q3.Write a program to extract the words from the given list 
which have their first character in uppercase.
Days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday']
Output: ['Monday', 'Sunday', 'Saturday']

In [15]:
days = ['Monday', 'tuesday','friday', 'Sunday', 'Saturday'] 
L = []
for i in days:
    if i[0].isupper():
        L.append(i)
L

['Monday', 'Sunday', 'Saturday']

Q4.Write a program to extract the year part from the dates in 
the given list.
Batch = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
Output: ['1997','2011','1993','2020'

In [1]:
import datetime as dt
dates = ['15-06-1997','15-06-2011','15-06-1993','15-06-2020']
[dt.datetime.strptime(date_string, "%d-%m-%Y").year for date_string in dates]

[1997, 2011, 1993, 2020]

Q5.Write a program swap the keys to values and values to 
keys of the given dictionary.
Module = {'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big 
Data':4}
Output: {1:'Data Science',2:'Machine Learning', 3:'SQL', 4:'Big Data'}

In [2]:
{'Data Science':1,'Machine Learning':2, 'SQL':3, 'Big Data':4}
Mod = {value:key for key, value in Module.items()}
Mod

{1: 'Data Science', 2: 'Machine Learning', 3: 'SQL', 4: 'Big Data'}

Q6.Write a program to calculate the cumulative average of 
the given list using accumulate() and lambda function.
Input list: [5,2,1,4,6]

In [21]:
l = []
from itertools import accumulate
A = accumulate([5,2,1,4,6],lambda x,y:(x+y)/2)
for i in A :
    l.append(i)
 
l

[5, 3.5, 2.25, 3.125, 4.5625]

Q7.Write a program to count the number of elements in the 
string (given by the user) that are not present in the 
'my_string'. Do not count the white spaces.
Use Recursion
my_string = 'Data Science'

In [22]:
my_string = input("Enter the string : ")
a = len(my_string.replace(" ", ""))
a

Enter the string : sreekanth

9

Q8.Define a function to check whether a number is in a range 
(1000,10000) or no

In [23]:
def check(x):
    if x in range(1000, 10000):
        print( " The number is in the range", x)
    else :
        print("The number is not in the given range", x)
check(1000)

 The number is in the range 1000

Q9Write a program to print pascal triangle upto 6 steps 
(using list).

In [24]:
from math import factorial
x = 6
for i in range(x):
    for j in range(x-i+1):
        print(end=" ")
    for j in range(i+1):
        print(factorial(i)//(factorial(j)*factorial(i-j)), end=" ")
    print()

       1
      1 1
     1 2 1
    1 3 3 1
   1 4 6 4 1
  1 5 10 10 5 1

Q10.Write a program to calculate the sum of all elements in 
the list.
test_score = [10, 32, 23, 14, 25]

In [25]:
test_score = [10, 32, 23, 14, 25]
def sum1(x):
    return sum(x)
sum1(test_score)

104

Q11.Find the minimum value along each of the rows.
Create a 2D Numpy array from list of lists
Score = np.array([[210, 402, 383],
[140, 375, 106],
[140, 125, 217],
[292, 240, 295]])

In [26]:
import numpy as np
Score = np.array([[210, 402, 383],
[140, 375, 106],
[140, 125, 217],
[292, 240, 295]])
minimum = np.amin(Score, axis=1)
print('minimum value of every rows: ', minimum)

minimum value of every rows:  [210 106 125 240]

Q12.Replace all even numbers in the array with -1.
Use the array given below
num_array = np.array([0, 21, 32, 13, 44, 45,
26, 28, 38, 34, 65, 48, 76])

In [27]:
num_array = np.array([0, 21, 32, 13, 44, 45, 26, 28, 38, 34, 65, 48, 76])
even = (num_array%2 == 0) 
num_array[even] = -1
num_array[num_array%2 == 0] = -1
num_array

array([-1, 21, -1, 13, -1, 45, -1, -1, -1, -1, 65, -1, -1])