1. Given below are a list of positive and negative words. Also a list of
comments is provided. Segregate the comments based on positive and
negative sentiments.
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful']
comments = ['He is a good boy',
'Food is the worst here',
'He is an awesome player',
'She is the best',
'This pizza tastes awful',
'These burger are really nice']

In [1]:
positive = ['good','awesome', 'best', 'nice']
negative = ['worst','awful']
comments = ['He is a good boy',
'Food is the worst here',
'He is an awesome player',
'She is the best',
'This pizza tastes awful',
'These burger are really nice']

positive_comments = [] 
negative_comments = []
other_comments = []

for i in comments:
    if any(j in i for j in positive):
        positive_comments.append(i) 
    elif any(j in i for j in negative):
        negative_comments.append(i)
    else:
        other_comments.append(i)
            
print(positive_comments)
print(negative_comments)
print(other_comments)

['He is a good boy', 'He is an awesome player', 'She is the best', 'These burger are really nice']
['Food is the worst here', 'This pizza tastes awful']
[]

2. Create a dictionary containing three lambda functions square, cube
and square root.
E.g. dict = {'Square': function for squaring, 'Cube': function for cube,
'Squareroot': function for square root}
Pass the values (input from the user)to the functions in the dictionary
respectively. Then add the outputs of each function and print it

In [2]:
n = int(input("Enter the Number : "))
def val(n):
    #define dictionary 
    dictonary = { 'Square': lambda a : a*2,# using the lambda function
                 'Cube': lambda a : a3, 
                 'Squareroot': lambda a : a*(1/2)}
    sum = 0
    for key in dictonary.keys():
        sum += dictonary[key](n)  # lambda returns a function object

        return sum
print(val(n))

Enter the Number : 10
20

3. Find the fruits that are sour in taste from the tuple given below.
fruits = (('Lemon','sour'),
 ('DragonFruit', 'Sweet'),
 ('Grapes','soUr'),
 ('Kiwi','Sour'),
 ('Apples','sweet'),
 ('Orange','sour'),
 ('Blueberries','sweet'),
 ('Limes','Sour')

In [3]:
# the given element from a list of tuples
fruits = (('Lemon','sour'),
 ('DragonFruit', 'Sweet'),
 ('Grapes','soUr'),
 ('Kiwi','Sour'),
 ('Apples','sweet'),
 ('Orange','sour'),
 ('Blueberries','sweet'),
 ('Limes','Sour'))# List of tuples
output = []


for i in fruits:# Find an element in list of tuples.

    for j in i:
        if j.lower() == 'sour':
            output.append(i[0])
print("output : " , output)# Printing output

output :  ['Lemon', 'Grapes', 'Kiwi', 'Orange', 'Limes']

4.A list of words is given. Find the words from the list that have their 
second character in uppercase.
ls = ['hello', 'Dear', 'hOw', 'ARe', 'You']
Output: ['hOw', 'ARe']

In [4]:
ls =['hello','Dear','hOw','ARe','You']
# Words starting with specific letter
output = [] 
for i in ls:
    if i[1].isupper(): # using list upper()
                        # Words starting with specific letter
        output.append(i)
print("output : ", output)

output :  ['hOw', 'ARe']

5.A dictionary of names and their weights on earth is given. Find how 
much they will weigh on the moon. (Use map and lambda functions)
Formula : wMoon = (wEarth * GMoon) / GEarth
# Weight of people in kg
WeightOnEarth = {'John':45, 'Shelly':65, 'Marry':35} 
# Gravitational force on the Moon: 1.622 m/s2
GMoon = 1.622 
# Gravitational force on the Earth: 9.81 m/s2
GEarth = 9.81 
Output: 
Weight on Moon: {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

In [8]:
WeightOnEarth = {'John' : 45 ,
                'Shelly' : 65,
                'Marry': 35}

GMoon = 1.622
GEarth = 9.81
print('Weight On Moon: ', (dict(map(lambda x : (x, round(WeightOnEarth[x]*GMoon/GEarth, 2)), WeightOnEarth))))

Weight On Moon:  {'John': 7.44, 'Shelly': 10.75, 'Marry': 5.79}

6. Write a program to fetch the words from the given list which have their 
first character in uppercase.
namesList = ['santa Maria', 'Hello World','Merry christmas', 'tHank 
You']
Output: ['Maria', 'Hello', 'World', 'Merry', 'You']

In [9]:
namesList=['santa', 'Maria', 'Hello', 'World','Merry' , 'christmas', 'tHank','You']
output = []
for i in namesList:
    if i[0].isupper(): output.append(i)
print("output : ", output)

output :  ['Maria', 'Hello', 'World', 'Merry', 'You']

7. A list containing multiple lists is given. Convert each inner list into sets 
and find the intersection of all the sets.
Use reduce function.
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 
12, 3, 7, 6, 8, 4, 6, 21, 1, 6]]
Output: {8, 3}

In [10]:
# of lists to a list of sets
from functools import reduce# python3 program to convert list
given_sets = [[1, 2, 3, 4, 8], [2, 3, 8, 5, 6], [8, 4, 5, 3, 7], [6, 9, 8, 3], [9, 12, 3, 7, 6, 8, 4, 6, 21, 1, 6]] 
reduce(lambda a, b: a.intersection(b), map(set, given_sets))# convert list of lists to list of sets

{3, 8}

8. Find the cumulative average of the list [9,8,7,6,5] using accumulate() 
and lambda function.

In [11]:
# Python code to get the Cumulative sum of a list

out = []
from itertools import accumulate 
result=accumulate([9,8,7,6,5],lambda x,y:(x+y)/2) 
for res in result :
    out.append(res)
print(out)

[9, 8.5, 7.75, 6.875, 5.9375]

9. A list of words is given. Convert the words into uppercase. Use lambda 
and map functions.
lsbool = ['True','FALse','tRUe','tRue','False','faLse']
Output: ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE']

In [12]:
output = []
lsbool = ['True','FALse','tRUe','tRue','False','faLse']
out = map(lambda x:x.upper(), lsbool)
for i in out:
    output.append(i)#appeend with mt list
print("output : ", output)

output :  ['TRUE', 'FALSE', 'TRUE', 'TRUE', 'FALSE', 'FALSE']

10. A list of dates (dd-mm-yyyy) in the form of string is given below. 
Create a new list that stores years i.e. the 'yyyy' part from the dates in 
the given list.
datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
Output: ['1997','2011','1993','2020'

In [13]:
from datetime import datetime# Import the datetime module
datesList = ['17-12-1997','22-04-2011','01-05-1993','19-06-2020']
output = []
for i in datesList:
    str1 = datetime.strptime(i,"%d-%m-%Y").year
    output.append(str(str1))#append with mt output list

print (output)

['1997', '2011', '1993', '2020']

In [4]:
rows =int(input("Enter number of rows"))
for i in range(1,rows + 1):
    for j in range(1,i+1):
        print("*", end= " ")
    print(' ')

ValueError: invalid literal for int() with base 10: ''